
*.idx
*.stash
*.o
build-WhatsProg_interface-Desktop_Qt_6_4_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-WhatsProg_interface-Desktop_Qt_6_4_0_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
build-WhatsProg_interface-Desktop_Qt_6_4_0_MinGW_64_bit-Debug/debug/moc_whatsprog_login.cpp
build-WhatsProg_interface-Desktop_Qt_6_4_0_MinGW_64_bit-Debug/debug/moc_whatsprog_main.cpp
build-WhatsProg_interface-Desktop_Qt_6_4_0_MinGW_64_bit-Debug/Makefile
*.Debug
*.Release
build-WhatsProg_interface-Desktop_Qt_6_4_0_MinGW_64_bit-Debug/ui_whatsprog_login.h
build-WhatsProg_interface-Desktop_Qt_6_4_0_MinGW_64_bit-Debug/ui_whatsprog_novaconversa.h
build-WhatsProg_interface-Desktop_Qt_6_4_0_MinGW_64_bit-Debug/ui_whatsprog_main.h
build-WhatsProg_interface-Desktop_Qt_6_4_0_MinGW_64_bit-Debug/debug/moc_whatsprog_novaconversa.cpp
*.o
WhatsProg_servidorFAKE/obj/Debug/WhatsProg_servidorFAKE/whatsprog_dados.o
WhatsProg_servidorFAKE/obj/Debug/WhatsProg_servidorFAKE/main_servidor.o
WhatsProg_servidorFAKE/bin/Debug/WhatsProg_servidor.exe
WhatsProg_servidorFAKE/bin/Debug/WhatsProg_servidor.exe
